<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.html'); %>
</head>
<body>
  <%- include('partials/navigation.html'); %>
  <!-- Page Content -->
  <div class="container">
      <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img width="800" height="500" class="img-fluid rounded mb-4 mb-lg-0" src="/img/LogoAtenas_logo.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Bienvenidos a Atenas del BBVA</h1>
        <p class="text-justify">Atenas personaliza e interpreta tus necesidades créditcias.</p>
        <a class="btn btn-primary" href="/CrearCuenta">Crear Cuenta <i class="fa fa-address-card"></i> </a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">En el Perú, BBVA brinda a sus clientes el acceso a oportunidades orientadas a alcanzar una vida plena.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img width="300" height="200" class="card-img-top" src="/img/cuentaAhorro.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Cuenta Ahorro</h4>
            <p class="card-text">¡Abrir tu cuenta BBVA online es muy fácil y al toque! ¡No olvides que el proceso es 100% online!</p>
          </div>
          <div class="card-footer">
            <a href="/contact" class="btn btn-primary">Contactnos!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img width="300" height="200" class="card-img-top" src="/img/creditos.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Créditos</h4>
            <p class="card-text">Obten los mejores producto créditicios del mercado.</p>
          </div>
          <div class="card-footer">
            <a href="/contact" class="btn btn-primary">Contactanos!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/06cd463f-dff9-490e-acf3-03757775a110"></iframe>
          <!--<img width="300" height="200" class="card-img-top" src="/img/img3.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Producto 3</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="/contact" class="btn btn-primary">Contact us!</a>
          </div> -->
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <%- include('partials/footer.html'); %>
</body>
</html>